.container {
    display: flex;
    padding-top: 19px;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
  }
  
  .header {
    align-self: stretch;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0 55px 0 9px;
  }
  
  @media (max-width: 991px) {
    .header {
      max-width: 100%;
      padding-right: 20px;
    }
  }
  
  .headerContent {
    align-self: end;
    display: flex;
    width: 100%;
    max-width: 1347px;
    gap: 20px;
    white-space: nowrap;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  @media (max-width: 991px) {
    .headerContent {
      max-width: 100%;
      white-space: initial;
    }
  }
  
  .logo {
    color: #000;
    font: 400 50px Outfit, sans-serif;
  }
  
  @media (max-width: 991px) {
    .logo {
      font-size: 40px;
    }
  }
  
  .headerActions {
    align-self: start;
    display: flex;
    margin-top: 10px;
    align-items: start;
    gap: 26px;
    color: var(--sds-color-text-default-tertiary);
    flex-wrap: wrap;
    font: var(--sds-typography-body-font-weight-regular) var(--sds-typography-body-size-medium) / 1 var(--sds-typography-body-font-family);
  }
  
  @media (max-width: 991px) {
    .headerActions {
      max-width: 100%;
      white-space: initial;
    }
  }
  
  .searchBar {
    border-radius: 9999px;
    background-color: #fff;
    display: flex;
    min-height: 39px;
    align-items: center;
    gap: 8px;
    overflow: hidden;
    justify-content: start;
    padding: 12px 16px;
    border: 1px solid #d9d9d9;
  }
  
  @media (max-width: 991px) {
    .searchBar {
      white-space: initial;
    }
  }
  
  .searchInput {
    align-self: stretch;
    flex: 1;
    flex-basis: 0%;
    margin: auto 0;
  }
  
  .searchIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 16px;
    align-self: stretch;
    margin: auto 0;
  }
  
  .actionIcon {
    aspect-ratio: 1.03;
    object-fit: contain;
    object-position: center;
    width: 40px;
  }
  
  .menuIcon {
    aspect-ratio: 1.16;
    object-fit: contain;
    object-position: center;
    width: 44px;
  }
  
  .navigation {
    display: flex;
    margin-top: 72px;
    gap: 27px;
    color: #000;
    letter-spacing: 0.45px;
    flex-wrap: wrap;
    font: 600 16px/1 Poppins, sans-serif;
  }
  
  @media (max-width: 991px) {
    .navigation {
      margin: 40px 9px 0 0;
    }
  }
  
  .navItems {
    align-self: start;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: auto;
  }
  
  .navItem {
    background-blend-mode: normal;
    white-space: nowrap;
    padding: 0 27px;
  }
  
  @media (max-width: 991px) {
    .navItem {
      white-space: initial;
      padding: 0 20px;
    }
  }
  
  .navItemSpecial {
    background-blend-mode: normal;
    font-family: Inter, sans-serif;
    white-space: nowrap;
    padding: 0 26px;
  }
  
  @media (max-width: 991px) {
    .navItemSpecial {
      white-space: initial;
      padding: 0 20px;
    }
  }
  
  .musicMovies {
    flex-grow: 1;
    width: 102px;
  }
  
  .sectionTitle {
    color: #21282d;
    margin-top: 97px;
    font: 600 32px/1 Poppins, sans-serif;
  }
  
  @media (max-width: 991px) {
    .sectionTitle {
      margin-top: 40px;
    }
  }
  
  .dialogContainer {
    max-width: 100%;
    border-radius: var(--sds-size-radius-200);
    border: var(--sds-size-stroke-border) solid var(--sds-color-border-default-default);
    background: var(--sds-color-background-default-default);
    box-shadow: var(--sds-size-depth-0) var(--sds-size-depth-400) var(--sds-size-depth-800) var(--sds-size-depth-negative-100) var(--sds-color-black-200), var(--sds-size-depth-0) var(--sds-size-depth-100) var(--sds-size-depth-100) var(--sds-size-depth-negative-100) var(--sds-color-black-100);
    position: relative;
    display: flex;
    margin-top: 71px;
    min-height: 221px;
    width: 554px;
    padding: var(--sds-size-space-800);
    flex-direction: column;
    justify-content: start;
    gap: var(--sds-size-space-600);
  }
  
  @media (max-width: 991px) {
    .dialogContainer {
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  
  .dialogText {
    width: 100%;
    color: var(--sds-color-text-default-default);
    letter-spacing: -0.48px;
    font: var(--sds-typography-heading-font-weight) var(--sds-typography-heading-size-base) / 1.2 var(--sds-typography-heading-font-family);
  }
  
  @media (max-width: 991px) {
    .dialogText {
      max-width: 100%;
    }
  }
  
  .buttonGroup {
    z-index: 0;
    display: flex;
    min-height: 40px;
    margin-top: 24px;
    width: 100%;
    gap: 16px;
  }
  
  @media (max-width: 991px) {
    .buttonGroup {
      max-width: 100%;
    }
  }
  
  .closeButton {
    border-radius: 32px;
    position: absolute;
    z-index: 0;
    display: flex;
    width: 36px;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    right: 8px;
    top: 8px;
    padding: 8px;
  }
  
  .closeIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 20px;
    align-self: stretch;
    margin: auto 0;
  }
  
  .scanButton {
    align-self: stretch;
    border-radius: 8px;
    background-color: #2c2c2c;
    z-index: 10;
    margin-top: -110px;
    width: 70px;
    gap: 8px;
    overflow: hidden;
    color: var(--sds-color-text-brand-on-brand);
    white-space: nowrap;
    padding: 12px;
    font: var(--sds-typography-body-font-weight-regular) var(--sds-typography-body-size-medium) / 1 var(--sds-typography-body-font-family);
    border: 1px solid #2c2c2c;
  }
  
  @media (max-width: 991px) {
    .scanButton {
      white-space: initial;
    }
  }
  
  .bookCard {
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 1320px;
    max-width: 100%;
    margin: 79px 0 0 18px;
    padding: 35px 45px;
  }
  
  @media (max-width: 991px) {
    .bookCard {
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  
  .bookContent {
    gap: 20px;
    display: flex;
  }
  
  @media (max-width: 991px) {
    .bookContent {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  
  .bookCover {
    aspect-ratio: 0.93;
    object-fit: contain;
    object-position: center;
    width: 229px;
    min-height: 247px;
    max-width: 100%;
  }
  
  @media (max-width: 991px) {
    .bookCover {
      margin-top: 40px;
    }
  }
  
  .bookDetails {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
    font-family: Inria Serif, sans-serif;
    color: #000;
    font-weight: 700;
  }
  
  @media (max-width: 991px) {
    .bookDetails {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  
  .bookTitle {
    font-size: 50px;
    line-height: 1.2;
    letter-spacing: -1px;
  }
  
  @media (max-width: 991px) {
    .bookTitle {
      font-size: 40px;
    }
  }
  
  .bookAuthor {
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: -0.6px;
    margin-top: 46px;
  }
  
  @media (max-width: 991px) {
    .bookAuthor {
      margin-top: 40px;
    }
  }
  
  .bookSize {
    font-size: 25px;
    line-height: 1.2;
    letter-spacing: -0.5px;
    margin-top: 34px;
  }
  
  .divider {
    align-self: stretch;
    width: 100%;
    height: 1px;
    margin: 41px 24px 0 0;
    border: 1px solid #000;
  }
  
  @media (max-width: 991px) {
    .divider {
      margin: 40px 10px 0 0;
    }
  }
  
  .bookActions {
    align-self: stretch;
    display: flex;
    margin-top: 18px;
    width: 100%;
    align-items: start;
    gap: 20px;
    letter-spacing: -0.48px;
    flex-wrap: wrap;
    justify-content: space-between;
    font: 500 24px Poppins, sans-serif;
  }
  
  @media (max-width: 991px) {
    .bookActions {
      max-width: 100%;
    }
  }
  
  .actionGroup {
    display: flex;
    gap: 40px 65px;
    flex-wrap: wrap;
  }
  
  @media (max-width: 991px) {
    .actionGroup {
      max-width: 100%;
    }
  }
  
  .action {
    align-self: start;
    display: flex;
    margin-top: 7px;
    gap: 20px;
    line-height: 29px;
  }
  
  .actionIcon {
    aspect-ratio: 1.07;
    object-fit: contain;
    object-position: center;
    width: 31px;
  }
  
  .actionText {
    display: flex;
    gap: 9px;
    line-height: 1.2;
    flex-grow: 1;
    flex-basis: auto;
  }
  
  .searchIcon {
    aspect-ratio: 1.13;
    object-fit: contain;
    object-position: center;
    width: 43px;
  }
  
  .searchText {
    align-self: start;
    flex-basis: auto;
    flex-grow: 1;
  }
  
  .moreIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 48px;
    margin-top: 6px;
  }
  
  .footer {
    align-self: stretch;
    display: flex;
    margin-top: 396px;
    min-height: 237px;
    width: 100%;
    align-items: center;
    gap: 40px 60px;
    overflow: hidden;
    color: #000;
    text-align: center;
    justify-content: center;
    padding: 69px 60px;
    font: 400 20px/28px Poppins, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  @media (max-width: 991px) {
    .footer {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  
  .footerContent {
    align-self: stretch;
    display: flex;
    min-width: 240px;
    min-height: 100px;
    gap: 40px 60px;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto 0;
  }
  
  @media (max-width: 991px) {
    .footerContent {
      max-width: 100%;
    }
  }
  
  .copyright {
    width: 360px;
  }
  
  .privacyPolicy {
    width: 180px;
  }
  
  .contactUs {
    width: 151px;
  }